page-event-calender {

	.holiday{
		    font-size: 12px;
		    color: white;
		    background: red;
		    padding: 3px;
		    font-weight: bold;
		    float: right;
	}

	.event{
		    font-size: 12px;
		    color: white;
		    background: blue;
		    padding: 3px;
		    font-weight: bold;
		    float: right;
	}
  .eventdate{
  	font-size: 12px;
  }

  .event_time{

  	
  }
}
